<% if @pets.empty? %>
  <% if user_signed_in? %>
    <p>Não existem pets cadastrados</p>
  <% else %>
    <p>Faça login para visualizar a agenda</p>
  <% end %>

<% else %>
  <% @pets.each do |pet| %>
    <%= link_to(pet.name, pet)%>
  <% end %>
<% end %>